<div class="social">
    <span><i class="fa fa-instagram"></i></span>
    <span><i class="fa fa-snapchat"></i></span>
    <span><i class="fa fa-twitter"></i></span>
    <span><i class="fa fa-facebook"></i></span>
</div>
<ul class="list">
    <li><a href="#">Home</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">About Us</a></li>
</ul>
<p class="copyright">
    <i>Copyright &copy; 2022 Web Development <br />
        <a href="mailto:SNS@conestogac.on.ca">SNS@conestogac.on.ca</a></i>
</p>
