<div class="home-section-two">
    <section class="about_us_area">
        <div class="about-one">
            <img src="./images/neel3.jpeg" class="image-section" alt="Neel Patel" />
            <div class="content">
                <div class="card_title title-white">
                    <h2>Neel Patel</h2>
                </div>
                <h4>
                    I am a front end developer having an interest in web technologies such as Javascript, HTML, CSS,
                    SCSS, And JS frameworks such as AngularJs, ReactJs.

                    I am always striving to bring 100% to work that I do, and my goal as a software engineer to
                    continuously improving my coding standard and increase the product quality.

                    Apart from my professional life, I want to become a motivational speaker.
                </h4>

                <div class="contact-button-center">
                    <a target="_blank" href="https://www.linkedin.com/in/neelpatel2911/" class="button_all">Read
                        More</a>
                </div>
            </div>
        </div>
        <div class="about-two">
            <img src="./images/shivam.jpg" class="image-section" alt="Shivam Parekh" />

            <div class="content">
                <div class="card_title title-white">
                    <h2>Shivam Parekh</h2>
                </div>
                <h4>
                    A developer with excellent experience related to web development and database administration.
                    Proficiently working with HTML5, CSS-3, SAAS, JavaScript, ReactJS, Vue.js, C#, Gatsby, GraphQL, PHP,
                    WordPress, MYSQL Server.
                    Worked as a freelancer and developed products for small scale businessess and portfolio websites by
                    directly dealing with clients.
                    Ability to quickly learn new application, systems, and technical concepts.
                    Proficiency in server-side Java development with exposure REST web services, AJAX powered web
                    applications.
                    Used the best practices of SDLC as well as Agile/SCRUM methodologies.
                    Excellent communication, analytical, interpersonal, problem solving and presentation skills.
                </h4>
                <div class="contact-button-center">
                    <a target="_blank" href="https://www.linkedin.com/in/shivamp09/" class="button_all">Read More</a>
                </div>
            </div>
        </div>
        <div class="about-three">
            <img src="./images/samarth.jpeg" class="image-section" alt="Samarth Joisar" />
            <div class="content">
                <div class="card_title title-white">
                    <h2>Samarth Joisar</h2>
                </div>
                <h4>
                    I believe in the saying one must love the work they do and my name is samarth joisar and i have done
                    my bachelors in computer science and engineering and I have been studying web design and web
                    development here at conestoga college and apart from that i aim to become a software developer.
                </h4>
                <div class="contact-button-center">
                    <a href="https://www.linkedin.com/in/samarthjoisar/" class="button_all">Read More</a>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-two">
    <h2>Our Team</h2>
    <div class="our-team">
        <table>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Location</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Name">Shivam Parekh</td>
                    <td data-label="Designation">Web Developer</td>
                    <td data-label="Location">Kitchener</td>
                    <td data-label="Email">shivamparekh094@gmail.com</td>
                </tr>
                <tr>
                    <td scope="row" data-label="Name">Neel Patel</td>
                    <td data-label="Designation">Full Stack Developer</td>
                    <td data-label="Location">Etobicoke</td>
                    <td data-label="Email">nvp2911@gmail.com</td>
                </tr>
                <tr>
                    <td scope="row" data-label="Name">Samarth Joisar</td>
                    <td data-label="Designation">Front End Developer</td>
                    <td data-label="Location">Kitchener</td>
                    <td data-label="Email">samarthjoisar@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
